  /*  index */
  .container-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .first-content,
  .second-content,
  .third-content{
    width: calc(100% / 3); /* imposto quindi la larghezza a 33,3periodico */
    padding: 15px;
  }
  .first-content-icon,
  .second-content-icon,
  .third-content-icon{
    width: 50px;
    height: 50px;
    background-color: #F8F9FA;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    cursor: pointer;
  }
  /* product */
  #single-card{
    width: 100%;
  }

  /* all */
  .navbar-brand .super-mega-banana{
    width: 40px;
    margin-right: 20px;
}
  .navbar-brand h1{
    font-size: 3rem;
}
  .social-icon{
    cursor: pointer;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-img-top{
    width: 100%;
    height: auto;
  }
  
  /* backoffice css */
  .form-control{
    font-size: smaller;
}
  .editButton,
  .delete{
    background-color: #212529;
    color: #FFF;
    text-align: center;
    width: 150px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .editButton:hover{
    transform: scale(1.1);
    background: #00CC00;
  }
  .delete:hover{
    transform: scale(1.1);
    background-color: #CC0000;
  }

  @media (min-width: 768px) {
    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 15px;
      width: 300px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      margin: 15px auto;
      transition: transform 0.3s;
    }
    .card:hover{
      transform: scale(1.1); /* ingrandimento del 10% al passaggio del mouse sulla card */
    }
  }